.bill-summary {
  font-family: "Poppins";
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 4px;
}

.bill-summary i {
  cursor: pointer;
}

.billsContainer {
  width: 40%;
  height: max-content;
  background: #fff;
  border-radius: 30px;
  padding: 20px 10px;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.1);
}

.billsContainer h1 {
  font-family: "Monoton";
  font-size: 28px;
  margin: 18px auto;
  width: 100%;
}

.billsHeader {
  width: 100%;
  text-align: center;
}

.billsHeader i {
  margin-left: 10px;
}
