.overlayPINContainer {
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 71;
  position: fixed;
}

.pinForm {
  width: 40%;
  height: max-content;
  background: #fff;
  border-radius: 25px;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.1);
  min-height: 150px;
  text-align: center;
  font-family: "Poppins";
  font-weight: 800;
  padding: 15px 0;
  position: relative;
}

.pinForm h1:nth-child(1) {
  margin-top: 20px;
}

.cancel-icon {
  background: #000;
  color: #fff;
  width: 40px;
  height: 40px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  right: 30px;
  top: 20px;
  transform: scale(0.7);
}

.pinForm h1 i {
  margin-left: 10px;
}

.pinForm input {
  width: 40px;
  height: 40px;
  outline: none;
  border: 3px solid #000;
  border-radius: 8px;
  text-align: center;
  font-size: 18px;
  padding: 15px 0;
  margin: 20px 20px;
}

.pinForm .pinInputHolder {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 15px;
}

/* For Chrome, Safari, Edge */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.pinForm button {
  font-size: 20px;
  background: green;
}

.confirm-btn {
  background: url("../src/assets/btnOverlayW.svg") no-repeat center center /
      cover,
    #000;
  color: white;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  width: 80%;
  margin: 5px auto;
  margin-top: 20px;
  font-family: "rowdies";
  text-transform: uppercase;
}

@media (max-width: 1200px) {
  .overlayPINContainer {
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: end;
    z-index: 71;
    position: fixed;
  }

  .pinForm {
    width: 100%;
    border-radius: 50px 50px 0 0;
  }

  .cancel-icon {
    background: #000;
    color: #fff;
    width: 40px;
    height: 40px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 20px;
    transform: scale(0.55);
  }
}
